<style>
    .formulario {
        display: block;
        background-color:silver;
        width: 100%;
        font-size: 50px;
    }
    button {
        width: 200px;
        height:100px;
        background-color:blue;
        color:white;
    }
</style>
<form action="">
    <div class="formulario">
        <div>
            <label for="">OP</label>
            <input type="text">

        </div>
        <div>
            <label for="">Data Inicio</label>
            <input type="date">
        </div>
        <div>
            <label for="">Hora Inicio</label>
            <input type="time">
        </div>

    </div>
    <button type="submit" class="btn">Salvar</button>
</form>